* { 
    box-sizing: border-box; 
}

*::before {
    padding: 0;
    margin: 0;
  }
  
html, body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0px;
}

.hideContent{
    display: none;
}

.requiredField{
    border: 1px solid red;
}

.lowPriority{
    border-left: 8px solid green;
}

.mediumPriority{
    border-left: 8px solid rgb(253, 183, 30);
}

.highPriority{
    border-left: 8px solid red;
}


.bodyContainer{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 8% auto;
    grid-template-areas: "header header"
                         "sidebar main";
}

/* Header */

#headerContainer{
    grid-area: header;
    background-color: red;
}

/* Sidebar */

#sidebarContainer{
    grid-area: sidebar;
    background-color: yellow;
    padding: 20px;
}

#sidebarTabs li{
    list-style-type: none;
}

#sidebarTabs button{
    border: none;
    background-color: white;
}

#sidebarTabs button:focus{
    background-color: grey;
}

#sidebarTabs button:hover{
    background-color: grey;
}

#sidebarTabs i{
    vertical-align: middle;
}

/*
#sidebarContainer button{
    width: 100%;
    text-align: left;
    padding: 10px;
}
*/

.defaultProject, #projectList button, #newProject {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.btnProject{
    display: flex;
    justify-content: space-between;
}

/* project add pop up */

#projectAddBtn, #projectCancelBtn{
    width: 49%;
    text-align: center;
}

#newProject,#projectPopupContainer{
    margin-top: 20px;
}

#projectInputName{
    width: 100%;
}


/* add project form */



/* Main Content */

#mainContent{
    grid-area: main;
    width: 800px;
    margin: 50px 25%;
    /*
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr;
    */
}

#todoTitleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#todoProjectTitle{
    font-size: 25px;
    line-height: 100%;
    /* margin: auto 10px auto; */
    border-bottom: 2px solid black;
    margin-bottom:20px;
}

#todoDateTitle{
    text-align: right;
    font-size: 25px;
    /* margin: auto 10px auto; */
    border-bottom: 2px solid black;
    margin-bottom:20px;
}

#todoListContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid lightblue;
}

/* Task */

.task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid lightblue;
    /* priority colouring 
    border-left: 2px solid yellow; */
    
}

/* .taskLeftSide{
    border-left: 8px solid red;
} */

.task button{
    height: 100%;
    border:none;
    background-color: white;
    font-size: 15px;
}

.task span{
    
}

/* divide task into left and right side */
.todoTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

.newTask{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.newTask i{
    vertical-align: middle;
}

/* task form */

#formContainer{
    position: fixed;
    z-index:1;
    width:100%;
    height:100%;
/*  top: 35%;
    left: 45%; */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.formPopup{
    background-color: #D1EEEE;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    /* text-align: center; */
    font-family: 'Lato', sans-serif;
    
}

#formContainer label{
    font-size: 25px;
}

.formHeader{
    text-align: center;
}

#taskDueDate{
    width: 300px;
}

#descriptionInput{
    margin-top: 10px;
    min-height: 50px;
}

/* Edit task form */